body {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
<<<<<<< HEAD

/* #messageArea {
  display: none;
} */
=======
>>>>>>> 4be86e058b8aad8cd911d0afa7274630ad2b6776
